<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" 
                          sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!--This, as well as the startup/supportedRuntime, need to preserve linebreaks -->
    <add key="LongishAppSettingKeyName"
         value=" PASJPDAOSJDPAOSJDPOJSPD()@#(!)293087129jds019wjdpa;klsjdlakjsd;liskajf;lkasj;valksjd;vlkaj;oidfj;aoiwjef;oaiwsjdf;oiasjd;foiajsd;fioajs;odif;" />
    <add key="ShortAppSetting" value="SingleLine"/>
  </appSettings>
  <!-- from https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/assemblybinding-element-for-runtime -->
    <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
         <dependentAssembly>  
            <assemblyIdentity name="myAssembly"  
                              publicKeyToken="32ab4ba45e0a69a1"  
                              culture="neutral" />  
            <bindingRedirect oldVersion="1.0.0.0"  
                             newVersion="2.0.0.0"/>  
            <codeBase version="2.0.0.0"  
                      href="http://www.litwareinc.com/myAssembly.dll"/>  
         </dependentAssembly>  
      </assemblyBinding>  
   </runtime>  
</configuration>